@media screen and (width: 1400px){
/* Modification du menu de navigation */
#navbar-first{
  margin: 25px 0px 25px 0px;
  box-shadow: 0px 3px 4px black;
}
#navbar-first ul{
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
#navbar-first ul li{
  background-color: #193441;
  flex: 1;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin:0;
}
#navbar-first ul li:hover{
  box-shadow: 0px 5px 2px black;
}
#navbar-first ul li a{
  font-size: 1.2em;
  color: black;
  text-align: center;
}

}
